@import "tailwindcss";

@theme {
  
  --color-desaturatedDarkCyan: hsl(180, 29%, 50%);
  --color-lightGrayishCyan: hsl(180, 52%, 96%);
  --color-lightGrayishCyan2: hsl(180, 31%, 95%);
  --color-darkGrayishCyan: hsl(180, 8%, 52%);
  --color-veryDarkGrayishCyan: hsl(180, 14%, 20%);
}

:root {
  background-color: var(--color-lightGrayishCyan);
}

.job-card + div:hover {
  border-left: 6px solid var(--color-desaturatedDarkCyan);
}
